// neutral
$white: #ffffff;
$white-hover: #cccccc;
$black: #151924;
$grey: #939499;
$darkgrey: #7c7d83;

// background
$beige: #f2e9e2;

// base
$base: #1a4031;
$base-hover: #0f241c;

// secondary
$secondary: #2a6f56;