@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600;700&family=Montserrat:wght@500;600&display=swap');

$fraunces: 'Fraunces', serif;
$montserrat: 'Montserrat', sans-serif;

$bold: 700;
$semibold: 600;
$medium: 500;