@import "./_colors";
@import "./_typefaces";

.card {
    // 600px
    width: 37.5rem;
    height: auto;

    display: flex;

    .picture {

        width: 50%;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
    }

    .content {
        width: 50%;
        height: 100%;

        background-color: $white;
        padding: 32px;

        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;

        h2 {
            text-transform: uppercase;

            font-family: $montserrat;
            font-weight: $medium;
            font-size: 12px;
            color: $grey;

            margin-bottom: 16px;
        }

        h3 {
            text-transform: capitalize;

            font-family: $fraunces;
            font-weight: $bold;
            font-size: 30px;
            color: $black;

            margin-bottom: 24px;
        }

        p {
            font-family: $montserrat;
            font-weight: $medium;
            font-size: 12px;
            color: $darkgrey;

            line-height: 20px;

            letter-spacing: 0.1px;

            margin-bottom: 32px;
        }

        .price {
            display: flex;

            align-items: center;

            margin-bottom: 24px;

            span:nth-child(1) {
                font-family: $fraunces;
                font-weight: $semibold;
                font-size: 30px;
                color: $secondary;
            }

            span:nth-child(2) {
                font-family: $montserrat;
                font-weight: $semibold;
                font-size: 10px;
                color: $grey;

                text-decoration: line-through;

                margin-left: 24px;
            }
        }

        button {
            padding: 16px;

            background-color: $secondary;

            width: 100%;

            display: flex;

            justify-content: center;

            border-radius: 8px;

            cursor: pointer;

            transition: all 0.2s;

            span {
                font-family: $montserrat;
                font-weight: $semibold;
                font-size: 16px;
                color: $white;

                margin-left: 8px;
            }

            .screenreader {
                visibility: hidden;
                height: 0;
                width: 0;
            }

            &:hover {
                background-color: $base;
            }

            &:active{
                transform: scale(0.95);
            }
        }
    }
}

/* sm */
@media (max-width: 767.98px) {
    .card {
        display: block;

        padding: 16px;

        .picture {

            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 200px;

                object-fit: cover;

                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: unset;
            }
        }

        .content {
            width: 100%;

            border-top-left-radius: unset;
            border-top-right-radius: unset;
            border-bottom-left-radius: 12px;
        }
    }
}